:root {
	--sec-color: #444444;
	--third-color: #bbbbbb;
    --button-bg: linear-gradient(0deg,rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --moz-button-bg: -moz-linear-gradient(0deg,rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --webkit-button-bg: -webkit-linear-gradient(0deg,rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    --button-border: #a4a4a4;
}

.night-mode {
	--sec-color: #bbbbbb;
	--third-color: #444444;
    --button-bg: linear-gradient(0deg,rgba(40, 40, 40, 1) 0%, rgba(55, 55, 55, 1) 100%);
    --moz-button-bg: -moz-linear-gradient(0deg,rgba(40, 40, 40, 1) 0%, rgba(55, 55, 55, 1) 100%);
    --webkit-button-bg: -webkit-linear-gradient(0deg,rgba(40, 40, 40, 1) 0%, rgba(55, 55, 55, 1) 100%);
    --button-border: #7a7a7a;
}

.card {
	font-family: arial;
	font-size: 1.25rem;
	line-height: 1rem;
	text-align: center;
	color: black;
	background: white;
}

button {
	background-color: var(--webkit-button-bg);
	background-color: var(--moz-button-bg);
	background-color: var(--button-bg);
	border-color: var(--button-border);
	border-radius: 1rem;
	margin: 0;
}

#show_all_signs{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: -0.1rem;
}

#show_def_sign{
	border-top-left-radius: 0;
	margin-top: 0.5rem;
}
#defsigns {
	margin-top: 0.5rem;
}
.main_container, .def_container, #word_signs_container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.def_container {
	align-items: start;
}


.main_container, #signwritings, #signs_container{
    display: flex;
    align-items: start;
    justify-content: start;
}

#signwritings{
	align-items: center;
}

#signs_container {
	align-items: stretch;
	margin-top: 1rem;
}

.word_sign > video{
	border-width: 1px;
	border-style: solid;
	border-bottom-style: none;
	border-top-style: none;
	border-color: var(--button-border);
	margin-top: -0.1rem;
}

.word_sign:last-child > video {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-bottom-style: solid;
}
.word_sign:first-child > video {
	border-top-style: solid;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	margin-top: 0rem;
}

.signwriting {
	margin-left: 1rem;

	padding: 0.5rem;
	align-items: center;
  justify-content: center;

	border-radius: 1rem;
	border-width: 1px;
	border-style: solid;
	border-color: var(--third-color);

}


.name_type {
	display: flex;
	align-items: start;
	justify-content: left;
}
#name {
	font-size: 1.5em
}
#typology {
	margin-left: 0.35em;
	font-size: 0.75em;
	color: var(--sec-color);
}

.definition {
	font-size: 0.75em;
	margin-top: 0.5em;
}
